        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            list-style-type: none;
            text-decoration: none;
        }
        
        nav {
            font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
            color: #707070;
            background-color: white;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 0.95em;
            height: 65px;
        }
        
        nav ul {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
        }
        
        .align {
            padding-top: 16px;
            padding-bottom: 10px;
        }
        
        img {
            height: 30px;
        }
        
        .search {
            background-color: #fbfbf8;
            border: 2px solid #CCB5B5;
            border-radius: 25px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            -ms-border-radius: 25px;
            -o-border-radius: 25px;
            width: 650px;
            height: 50px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
            align-self: center;
            padding: 10px;
        }
        
        #sch {
            padding-right: 10px;
        }
        
        .ph {
            background-color: #fbfbf8;
            border: 0;
            height: 25px;
            width: 600px;
        }
        
        .nav2 ul {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-left: 10%;
            margin-right: 10%;
        }
        
        .nav2 {
            font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
            color: #3c3b37;
            background-color: #fbfbf8;
            border-top: 1px solid #CCB5B5;
            margin-top: 10px;
            height: 50px;
            padding: 10px 10px;
            box-shadow: 0px 1px #888888;
        }
        
        .nav2 ul li a {
            line-height: 1.4;
            font-size: 0.95em;
        }
        
        .center {
            background-color: white;
        }
        
        .smiling {
            background-color: #f1f2f7;
            margin-left: 5%;
            margin-right: 5%;
            height: 350px;
        }
        
        .smiling {
            display: flex;
            justify-content: space-between;
        }
        
        .aside {
            width: 35%;
            box-shadow: 0px 0px 3px #888;
            margin-top: 3%;
            margin-left: 3%;
            background-color: white;
            height: 150px;
            font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
            line-height: 1.2;
        }
        
        .aspire {
            font-weight: 700;
            padding-bottom: 10px;
            padding-left: 7%;
            padding-top: 7%;
        }
        
        .learning {
            font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
            line-height: 1.4;
            padding-left: 7%;
        }
        
        .smiling img {
            width: 70%;
            height: 350px;
            margin: auto;
        }
        
        .container {
            background-color: white;
            margin-left: 7%;
            margin-left: 7%;
            margin-top: 5%;
        }
        
        .text h1 {
            font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
            float: left;
        }
        
        .text p {
            font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
            float: right;
            margin-right: 9%;
            font-size: 0.95em;
            font-weight: 600;
        }
        
        .mycoourses {
            clear: both;
            display: flex;
            justify-content: space-between;
            width: 86%;
            margin: auto;
            align-items: center;
            background-color: white;
            height: 200px;
            padding-top: 25px;
        }
        
        .mycoourses div {
            width: 32.5%;
            height: 80px;
            background-color: #888888;
            height: 170px;
        }
        
        .one {
            background-image: url(../images/ai.jfif);
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
        }
        
        .two {
            background-image: url(../images/ai1.jfif);
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
        }
        
        .three {
            background-image: url(../images/child-ai.jfif);
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
        }
        
        .content {
            background-color: #26201F;
            width: 86%;
            margin: auto;
            height: 90px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            align-content: flex-start;
            border: 1px;
            border-radius: 4px;
            margin-top: 55px;
        }
        
        .content p span {
            font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
            font-size: 0.95em;
            font-weight: 700;
        }
        
        .content p {
            margin-left: 18px;
        }
        
        .content p,
        button {
            color: white;
        }
        
        .content button {
            background-color: #0f7c90;
            font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
            font-weight: 600;
            line-height: 1;
            letter-spacing: -.02rem;
            font-size: 1rem;
            height: 40px;
            padding: 10px;
        }
        
        .btnn {
            margin-right: 18px;
        }
        
        #b2 {
            border-color: white;
            width: 97px;
        }
        
        #b1,
        #b2 {
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
        }
        
        #b2 {
            background-color: #26201F;
        }
        
        .next,
        .ai {
            font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
        }
        
        .hwrap {
            width: 86%;
            margin: auto;
        }
        
        .hwrap h2 span {
            color: #7C9BE5;
        }
        
        .hwrap h1 {
            margin-top: 45px;
            margin-bottom: 20px;
        }
        
        .hwrap h2 {
            margin-bottom: 17px;
        }
        
        .tutorials {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            width: 86%;
            margin: auto;
            align-items: center;
            height: 350px;
        }
        
        .col {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 350px;
            margin: auto;
            width: 19%;
            margin-top: 0px;
            transition-delay: 2s;
            position: relative;
        }
        
        .inner-container1 {
            height: 350px;
            margin-left: 0px;
        }
        
        .inner-container5 {
            height: 350px;
            margin-right: 0px;
        }
        
        .flex-item {
            height: 150px;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
        }
        
        .course1 {
            background-image: url(../images/lesson1.jpg);
        }
        
        .course2 {
            background-image: url(../images/lesson2.jpg);
        }
        
        .course3 {
            background-image: url(../images/lesson3.jpg);
        }
        
        .course4 {
            background-image: url(../images/lesson4.jpg);
        }
        
        .course5 {
            background-image: url(../images/lesson5.jpg);
        }
        
        .col .rating {
            font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
            height: 190px;
            background-color: white;
        }
        
        .rating p .checked {
            color: orange;
        }
        
        .name,
        .views {
            font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
            font-weight: 200;
            line-height: 1.1;
            font-size: 0.8rem;
        }
        
        .rate {
            font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
            font-weight: 700;
            line-height: 1;
            letter-spacing: -.02rem;
            font-size: 0.9rem;
            color: #be5a0e;
        }
        
        .new {
            border: none;
            padding: .4rem .8rem;
            white-space: nowrap;
            background-color: #99dbaa;
            color: #003b0f;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
        }
        
        .best {
            border: none;
            background-color: #ffe799;
            color: #593d00;
            padding: .4rem .8rem;
            white-space: nowrap;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
        }
        
        .tooltip .tooltiptext {
            visibility: hidden;
            width: 340px;
            height: 410px;
            padding: 20px;
            background-color: white;
            border-radius: 8px;
            position: absolute;
            z-index: 1;
            top: -5px;
            left: 110%;
            box-shadow: 0px 0px 3px #888;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
        }
        
        .col .third {
            height: 480px;
        }
        
        .col .fouth {
            height: 480px;
        }
        
        .col .fifth {
            height: 455px;
        }
        
        .tooltip .tooltiptext::after {
            content: " ";
            position: absolute;
            top: 50%;
            right: 100%;
            /* To the left of the tooltip */
            margin-top: -5px;
            border-width: 15px;
            border-style: solid;
            border-color: transparent gray transparent transparent;
        }
        
        .tooltiptext .fifth::after {
            content: " ";
            position: absolute;
            bottom: 50%;
            left: 100%;
            background-color: #003b0f;
            /* To the left of the tooltip */
            margin-top: -5px;
            border-width: 15px;
            border-style: solid;
            border-color: transparent gray transparent transparent;
        }
        
        .tooltip:hover .tooltiptext {
            visibility: visible;
        }
        
        .tooltiptext {
            font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
        }
        
        .tooltiptext p {
            font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
            font-size: 0.85em;
        }
        
        .tooltiptext li {
            font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
            font-size: 0.85em;
        }
        
        .fa-check {
            color: green;
            padding-right: 5%;
            float: left;
        }
        
        .desc {
            margin-left: 3%;
            padding-left: 5px;
            clear: left;
            text-align: justify;
        }
        
        .go-to-cart {
            font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
            font-size: 1.1em;
            font-weight: bold;
            background-color: red;
            width: 200px;
            height: 50px;
            margin-right: 20px;
            text-align: center;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
        }
        
        .tooltiptext .rounded {
            background-color: white;
            border-color: gray;
            width: 50px;
            height: 50px;
            margin-right: 20px;
            text-align: center;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
        
        .down-btn1 {
            padding-top: 38px;
        }
        
        .down-btn2 {
            padding-top: 15px;
        }
        
        .down-btn3 {
            padding-top: 15px;
        }
        
        .down-btn3 {
            padding-top: 15px;
        }
        
        .down-btn5 {
            padding-top: 20px;
        }
        
        .rounded i {
            color: black;
        }
        
        .lover {
            color: black;
        }
        
        .tooltiptext h4 {
            margin-bottom: 7px;
        }
        
        .tooltiptext p {
            margin-bottom: 7px;
        }
        
        .tooltiptext p {
            color: green;
        }
        
        .tooltiptext li {
            padding: 10px 10px;
        }
        
        .amt {
            padding: 5px 5px;
        }
        /* 2nd session goes here */
        
        .course-b1 {
            background-image: url(../images/b1.jpg);
        }
        
        .course-b2 {
            background-image: url(../images/b2.jpg);
        }
        
        .course-b3 {
            background-image: url(../images/b3.jpg);
        }
        
        .course-b4 {
            background-image: url(../images/b4.jpg);
        }
        
        .course-b5 {
            background-image: url(../images/b5.jpg);
        }
        /*3rd session goes here */
        
        .course-c1 {
            background-image: url(../images/c1.jpg);
        }
        
        .course-c2 {
            background-image: url(../images/c2.jpg);
        }
        
        .course-c3 {
            background-image: url(../images/c3.jpg);
        }
        
        .course-c4 {
            background-image: url(../images/c4.jpg);
        }
        
        .course-c5 {
            background-image: url(../images/c5.jpg);
        }
        /* session 4*/
        
        .flex-btn {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
        
        .flex-btn .course-btn {
            font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
            font-weight: 600;
            font-size: 1.2rem;
            background-color: #fbfbf8;
            height: 55px;
            width: 253px;
            text-align: center;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            border: 1px solid #dcdacb;
            color: #0f7c90;
        }
        
        .under {
            padding-top: 7px;
        }
        
        .flex-btn a {
            text-decoration: none;
        }
        /* Fouth session */
        
        .course-d1 {
            background-image: url(../images/d1.jpg);
        }
        
        .course-d2 {
            background-image: url(../images/d2.jpg);
        }
        
        .course-d3 {
            background-image: url(../images/d3.jpg);
        }
        
        .course-d4 {
            background-image: url(../images/d4.jpg);
        }
        
        .course-d5 {
            background-image: url(../images/d5.jpg);
        }
        
        .a4 {
            font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
            padding-top: 40px;
        }
        /* section 5 */
        
        .course-e1 {
            background-image: url(../images/e1.jpg);
        }
        
        .course-e2 {
            background-image: url(../images/e2.jpg);
        }
        
        .course-e3 {
            background-image: url(../images/e3.jpg);
        }
        
        .course-e4 {
            background-image: url(../images/e4.jpg);
        }
        
        .course-e5 {
            background-image: url(../images/e5.jpg);
        }
        /* section 6 */
        
        .course-f1 {
            background-image: url(../images/f1.jpg);
        }
        
        .course-f2 {
            background-image: url(../images/f2.jpg);
        }
        
        .course-f3 {
            background-image: url(../images/f3.jpg);
        }
        
        .course-f4 {
            background-image: url(../images/f4.jpg);
        }
        
        .course-f5 {
            background-image: url(../images/f5.jpg);
        }
        /* section 7 */
        
        .a7 {
            font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
            padding-top: 27px;
        }